
<div class="card">
    <div class="card card-body">
        <h2>{{postagem.titulo}}</h2>
        <hr>
        <p>{{postagem.conteudo}}</p>
        <small>Data da ultima atualização: {{postagem.date}}</small>
        <hr>
        <a href="/"><button class="btn btn-success">Home</button></a>
    </div>
</div>